In [1]:
import boto3
import pandas as pd

In [2]:
#Data I got from a Report
client=boto3.client('s3')
obj=client.get_object(Bucket='prod-sdc-tti-911061262852-us-east-1-bucket',Key="abibeka/Vol_dat.csv")
dat=pd.read_csv(obj['Body'])
dat.head()

client=boto3.client('s3')
obj=client.get_object(Bucket='prod-sdc-tti-911061262852-us-east-1-bucket',Key="abibeka/uploaded_files/SpeedSen_MP_314_360.csv")
AB_SS=pd.read_csv(obj['Body'])
AB_SS.head()

   DEVICEID          SITENAME      MP Sensor_Loc
0       396      Laramie East  317.68         EB
1      3911  Telephone Canyon  320.70         WB
2       395            Summit  322.05         WB
3      2146            Summit  322.60         WB
4      2147            Summit  323.85         EB

In [3]:
Rename1 ={x:x.split('.')[1] for x in dat}
dat=dat.rename(index=str,columns=Rename1)
dat =dat[['controller','time5m','nrec']]

In [4]:
dat1 =dat.copy()
dev=dat1['controller'].unique()
dat1['DateTime']=pd.to_datetime(dat1['time5m'],format='%Y-%m-%d %H:%M:%S')
dat1=dat1.set_index(['controller','DateTime']) 
index = pd.date_range('2018-02-01','2018-02-28',closed='right',freq='5min')
multi_index=pd.MultiIndex.from_product([dev,index],names=['deviceId','DateTime'])
dat1=dat1.reindex(multi_index)

In [5]:
dat1.head()

                                           time5m  nrec
deviceId DateTime
384      2018-02-01 00:05:00  2018-02-01 00:05:00  20.0
         2018-02-01 00:10:00  2018-02-01 00:10:00   9.0
         2018-02-01 00:15:00  2018-02-01 00:15:00  17.0
         2018-02-01 00:20:00  2018-02-01 00:20:00  17.0
         2018-02-01 00:25:00  2018-02-01 00:25:00  10.0

In [6]:
dat1.tail()

                                           time5m  nrec
deviceId DateTime
3911     2018-02-27 23:40:00  2018-02-27 23:40:00  13.0
         2018-02-27 23:45:00  2018-02-27 23:45:00  16.0
         2018-02-27 23:50:00  2018-02-27 23:50:00  16.0
         2018-02-27 23:55:00  2018-02-27 23:55:00  12.0
         2018-02-28 00:00:00  2018-02-28 00:00:00  10.0

In [7]:
dat1= dat1.reset_index().merge(AB_SS,how="left",left_on=['deviceId'],right_on="DEVICEID").set_index(dat1.index.names)
dat1=dat1.drop(columns='time5m')
dat1=dat1.fillna(0)
dat1.nrec=dat1.nrec.astype(int)

In [8]:
dat1.head()

                                           time5m  nrec  DEVICEID  \
deviceId DateTime
384      2018-02-01 00:05:00  2018-02-01 00:05:00    20       384
         2018-02-01 00:10:00  2018-02-01 00:10:00     9       384
         2018-02-01 00:15:00  2018-02-01 00:15:00    17       384
         2018-02-01 00:20:00  2018-02-01 00:20:00    17       384
         2018-02-01 00:25:00  2018-02-01 00:25:00    10       384

                                 SITENAME     MP Sensor_Loc
deviceId DateTime
384      2018-02-01 00:05:00  Summit East  325.8         WB
         2018-02-01 00:10:00  Summit East  325.8         WB
         2018-02-01 00:15:00  Summit East  325.8         WB
         2018-02-01 00:20:00  Summit East  325.8         WB
         2018-02-01 00:25:00  Summit East  325.8         WB

In [9]:
dat1.tail()

                                           time5m  nrec  DEVICEID  \
deviceId DateTime
3911     2018-02-27 23:40:00  2018-02-27 23:40:00    13      3911
         2018-02-27 23:45:00  2018-02-27 23:45:00    16      3911
         2018-02-27 23:50:00  2018-02-27 23:50:00    16      3911
         2018-02-27 23:55:00  2018-02-27 23:55:00    12      3911
         2018-02-28 00:00:00  2018-02-28 00:00:00    10      3911

                                      SITENAME     MP Sensor_Loc
deviceId DateTime
3911     2018-02-27 23:40:00  Telephone Canyon  320.7         WB
         2018-02-27 23:45:00  Telephone Canyon  320.7         WB
         2018-02-27 23:50:00  Telephone Canyon  320.7         WB
         2018-02-27 23:55:00  Telephone Canyon  320.7         WB
         2018-02-28 00:00:00  Telephone Canyon  320.7         WB

In [10]:
dat1.to_csv('Z:/Apoorb/Process_dat.csv')

In [14]:
dat1.loc[384]

,time5m,nrec,DEVICEID,SITENAME,MP,Sensor_Loc
DateTime,,,,,,
2018-02-01 00:05:00,2018-02-01 00:05:00,20,384,Summit East,325.8,WB
2018-02-01 00:10:00,2018-02-01 00:10:00,9,384,Summit East,325.8,WB
2018-02-01 00:15:00,2018-02-01 00:15:00,17,384,Summit East,325.8,WB
2018-02-01 00:20:00,2018-02-01 00:20:00,17,384,Summit East,325.8,WB
2018-02-01 00:25:00,2018-02-01 00:25:00,10,384,Summit East,325.8,WB
2018-02-01 00:30:00,2018-02-01 00:30:00,11,384,Summit East,325.8,WB
2018-02-01 00:35:00,2018-02-01 00:35:00,16,384,Summit East,325.8,WB
2018-02-01 00:40:00,2018-02-01 00:40:00,11,384,Summit East,325.8,WB
2018-02-01 00:45:00,2018-02-01 00:45:00,14,384,Summit East,325.8,WB
2018-02-01 00:50:00,2018-02-01 00:50:00,12,384,Summit East,325.8,WB
2018-02-01 00:55:00,2018-02-01 00:55:00,9,384,Summit East,325.8,WB
2018-02-01 01:00:00,2018-02-01 01:00:00,6,384,Summit East,325.8,WB
2018-02-01 01:05:00,2018-02-01 01:05:00,16,384,Summit East,325.8,WB
2018-02-01 01:10:00,2018-02-01 01:10:00,11,384,Summit East,325.8,WB
2018-02-01 01:15:00,2018-02-01 01:15:00,8,384,Summit East,325.8,WB
2018-02-01 01:20:00,2018-02-01 01:20:00,13,384,Summit East,325.8,WB
2018-02-01 01:25:00,2018-02-01 01:25:00,8,384,Summit East,325.8,WB
2018-02-01 01:30:00,2018-02-01 01:30:00,8,384,Summit East,325.8,WB
2018-02-01 01:35:00,2018-02-01 01:35:00,10,384,Summit East,325.8,WB
2018-02-01 01:40:00,2018-02-01 01:40:00,9,384,Summit East,325.8,WB
2018-02-01 01:45:00,2018-02-01 01:45:00,10,384,Summit East,325.8,WB
2018-02-01 01:50:00,2018-02-01 01:50:00,6,384,Summit East,325.8,WB
2018-02-01 01:55:00,2018-02-01 01:55:00,14,384,Summit East,325.8,WB
2018-02-01 02:00:00,2018-02-01 02:00:00,12,384,Summit East,325.8,WB
2018-02-01 02:05:00,2018-02-01 02:05:00,5,384,Summit East,325.8,WB
2018-02-01 02:10:00,2018-02-01 02:10:00,9,384,Summit East,325.8,WB
2018-02-01 02:15:00,2018-02-01 02:15:00,15,384,Summit East,325.8,WB
2018-02-01 02:20:00,2018-02-01 02:20:00,10,384,Summit East,325.8,WB
2018-02-01 02:25:00,2018-02-01 02:25:00,7,384,Summit East,325.8,WB
2018-02-01 02:30:00,2018-02-01 02:30:00,12,384,Summit East,325.8,WB
...,...,...,...,...,...,...
2018-02-27 21:35:00,2018-02-27 21:35:00,24,384,Summit East,325.8,WB
2018-02-27 21:40:00,2018-02-27 21:40:00,33,384,Summit East,325.8,WB
2018-02-27 21:45:00,2018-02-27 21:45:00,31,384,Summit East,325.8,WB
2018-02-27 21:50:00,2018-02-27 21:50:00,30,384,Summit East,325.8,WB
2018-02-27 21:55:00,2018-02-27 21:55:00,15,384,Summit East,325.8,WB
2018-02-27 22:00:00,2018-02-27 22:00:00,21,384,Summit East,325.8,WB
2018-02-27 22:05:00,2018-02-27 22:05:00,17,384,Summit East,325.8,WB
2018-02-27 22:10:00,2018-02-27 22:10:00,19,384,Summit East,325.8,WB
2018-02-27 22:15:00,2018-02-27 22:15:00,17,384,Summit East,325.8,WB
2018-02-27 22:20:00,2018-02-27 22:20:00,17,384,Summit East,325.8,WB
2018-02-27 22:25:00,2018-02-27 22:25:00,22,384,Summit East,325.8,WB
2018-02-27 22:30:00,2018-02-27 22:30:00,18,384,Summit East,325.8,WB
2018-02-27 22:35:00,2018-02-27 22:35:00,19,384,Summit East,325.8,WB
2018-02-27 22:40:00,2018-02-27 22:40:00,17,384,Summit East,325.8,WB
2018-02-27 22:45:00,2018-02-27 22:45:00,17,384,Summit East,325.8,WB
2018-02-27 22:50:00,2018-02-27 22:50:00,15,384,Summit East,325.8,WB
2018-02-27 22:55:00,2018-02-27 22:55:00,22,384,Summit East,325.8,WB
2018-02-27 23:00:00,2018-02-27 23:00:00,16,384,Summit East,325.8,WB
2018-02-27 23:05:00,2018-02-27 23:05:00,24,384,Summit East,325.8,WB
2018-02-27 23:10:00,2018-02-27 23:10:00,15,384,Summit East,325.8,WB
2018-02-27 23:15:00,2018-02-27 23:15:00,11,384,Summit East,325.8,WB
2018-02-27 23:20:00,2018-02-27 23:20:00,32,384,Summit East,325.8,WB
2018-02-27 23:25:00,2018-02-27 23:25:00,12,384,Summit East,325.8,WB
2018-02-27 23:30:00,2018-02-27 23:30:00,15,384,Summit East,325.8,WB
2018-02-27 23:35:00,2018-02-27 23:35:00,20,384,Summit East,325.8,WB
2018-02-27 23:40:00,2018-02-27 23:40:00,22,384,Summit East,325.8,WB
2018-02-27 23:45:00,2018-02-27 23:45:00,13,384,Summit East,325.8,WB
2018-02-27 23:50:00,2018-02-27 23:50:00,11,384,Summit East,325.8,WB
2018-02-27 23:55:00,2018-02-27 23:55:00,19,384,Summit East,325.8,WB
2018-02-28 00:00:00,2018-02-28 00:00:00,10,384,Summit East,325.8,WB