In [1]:
import getpass
import pandas as pd
from impala.dbapi import connect
from impala.util import as_pandas

In [2]:
username = "abibeka@securedatacommons.com"
password1 = getpass.getpass()

········

In [3]:
conn = connect(host="172.18.1.20",auth_mechanism='PLAIN',port=10000,user=username, password=password1)

In [4]:
cursor = conn.cursor()
cursor.execute('select * from wydot_speed_sensors_index')
SSindex = as_pandas(cursor)
Rename1 ={x:x.split('wydot_speed_sensors_index.')[1] for x in SSindex}
SSindex=SSindex.rename(index=str,columns=Rename1)
print(SSindex['deviceid'].values,SSindex.columns)

(array([ 382,  383,  393,  394,  395,  396,  398,  400,  405,  407,  408,
        411,  384,  482, 1075, 1084, 1100, 1134, 1145, 1153, 1167, 1219,
       1231,  385, 1241, 1251, 1258, 1269, 1280, 1327, 1342, 1837, 1838,
       1839,  386, 2020, 2032, 2049, 2070, 2079, 2090, 2146, 2147, 2178,
       2191,  387, 2202, 2213, 2246, 2263, 2274, 2289, 2298, 2310, 2319,
       2334,  388, 2346, 2359, 2372, 2383, 2395, 2409, 2421, 2433, 2445,
       2578,  389, 2607, 2609, 2916, 3236, 3243, 3249, 3296, 3402, 3482,
       3654,  390, 3897, 3899, 3901, 3903, 3905, 3907, 3909, 3911,  391],
      dtype=int64), Index([u'deviceid', u'lat_decimal', u'long_decimal', u'road_code', u'sitename',
       u'devicename', u'sensortype', u'public_route', u'gis_route',
       u'direction', u'milepost', u'sensor_loc', u'nearest_rwis', u'rwis',
       u'backup_rwis', u'2015_adt', u'vsl_id', u'eb_vsl', u'wb_vsl',
       u'horiz_d', u'horiz_i', u'vert_i', u'vert_d', u'notes'],
      dtype='object'))

In [5]:
SSindex.describe()

,deviceid,lat_decimal,long_decimal,milepost,2015_adt,eb_vsl,wb_vsl,horiz_d,horiz_i,vert_i,vert_d
count,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
mean,1863.193182,41.413821,-107.174159,221.870000,13256.102273,1584.727273,1468.397727,0.806818,1.102273,-0.459432,0.372159
std,1119.438754,0.232103,2.056499,118.860826,2917.310921,1032.126504,1098.427398,1.396695,1.597698,2.181240,2.167475
min,382.000000,41.097107,-110.898090,8.450000,8147.000000,1.000000,1.000000,0.000000,0.000000,-5.030000,-5.140000
25%,1081.750000,41.197800,-109.237466,104.212500,10645.000000,428.000000,416.000000,0.000000,0.000000,-2.010000,-0.640000
50%,2074.500000,41.419465,-106.358965,262.750000,13237.500000,2118.000000,2089.500000,0.000000,0.000000,-0.690000,0.480000
75%,2412.000000,41.610347,-105.431913,326.075000,13890.000000,2260.000000,2251.750000,2.000000,2.250000,0.672500,1.960000
max,3911.000000,41.788223,-104.083160,401.800000,26454.000000,3400.000000,3668.000000,4.000000,4.000000,4.980000,5.040000

In [6]:
SS2index=SSindex.loc[(SSindex['milepost']>=314)&(SSindex['milepost']<=360)]
SS2index = SS2index[["deviceid","milepost","direction","2015_adt"]].copy()
print(SS2index['deviceid'].values)

[ 383  393  394  395  396  384  385 1839  386 2146 2147 2178 2191  387
 2202 2213 2246 2263 2274 2289 2298 2310 2319  388  389 3654  390 3911
  391]

In [7]:
#Data I got from a Report
AB_SS=pd.read_csv("C:/Users/abibeka/Documents/Apoorb/SpeedSen_MP_314_360.csv")

In [8]:
# Return set with elements in either the set or ohter but not both
print(set(AB_SS['DEVICEID'].values) ^ set(SS2index['deviceid'].values))
# Return intersection 
print(set(AB_SS['DEVICEID'].values) & set(SS2index['deviceid'].values))

set([])
set([384, 385, 386, 387, 388, 389, 2310, 391, 393, 394, 395, 396, 2178, 2191, 2202, 3654, 1839, 2246, 3911, 2146, 2263, 2319, 390, 2213, 2274, 2147, 2289, 2298, 383])

In [9]:
SS2index=SS2index.sort_values(by="milepost")
SS2index=SS2index.reset_index(drop=True)
SS2index

    deviceid  milepost direction  2015_adt
0        396    317.68         B     13890
1       3654    318.50         D     13890
2       3911    320.70         B     13890
3        395    322.05         B     13890
4       2146    322.60         B     13890
5       2147    323.85         B     13890
6        394    324.00         D     13890
7        383    324.90         B     13890
8        384    325.80         I     13890
9        385    326.90         B     13890
10      2178    329.88         B     13890
11       393    330.00         I     13890
12      2191    332.29         D     13890
13      2202    333.32         I     13890
14      2213    334.30         D     13890
15       386    334.50         B     13890
16       387    336.10         B     13890
17       388    336.50         B     13890
18       389    338.10         B     13890
19      2246    339.86         B     13890
20       390    340.50         B     13890
21      2263    343.24         B     13890
22       391    343.80         B     13890
23      2274    344.69         B     13890
24      2289    345.90         B     13890
25      2298    347.69         B     13890
26      2310    349.15         B     13890
27      2319    353.00         B     13890
28      1839    356.70         B     13890

In [10]:
indS=SS2index.deviceid.values

In [11]:
create_query='''SELECT t1.controller, t1.mountain, t2.direction, t2.milepost, t2.2015_adt FROM 
(SELECT * FROM wydot_speed_unprocessed WHERE mountain between '2018-02-01' AND '2018-02-28') t1
JOIN wydot_speed_sensors_index t2 
ON (t1.controller = t2.deviceid)'''
cursor.execute(create_query)
Vol_dat=as_pandas(cursor)
#print(cursor.fetchall())

MemoryError:

In [ ]:
Vol_dat.describe()

In [12]:
Vol_dat.to_csv("C:/Users/abibeka/Documents/Hive-SDC/Vol_dat.csv")

NameError: name 'Vol_dat' is not defined